﻿.brand-wrap label.responsiveFacets_sectionItemLabel,.skin-wrap label.responsiveFacets_sectionItemLabel,
.price-wrap label.responsiveFacets_sectionItemLabel,.save-wrap label.responsiveFacets_sectionItemLabel,.s-tool-wrap label.responsiveFacets_sectionItemLabel,
.s-con-wrap label.responsiveFacets_sectionItemLabel,.make-p-wrap label.responsiveFacets_sectionItemLabel,.make-t-wrap label.responsiveFacets_sectionItemLabel,
.make-c-wrap label.responsiveFacets_sectionItemLabel,.body-p-wrap label.responsiveFacets_sectionItemLabel,.body-t-wrap label.responsiveFacets_sectionItemLabel {
    width: 100%;
}
.mob-side-menu button {
	display: block !important;
	padding:5px;
	position:relative;
	width:100%;
}
/*.responsiveFacets_sectionHead {
	display: block !important;
}*/
.mob-ref {
	float: left;
	width: 100%;
	border: 1px solid #8c8c8c;
	border-radius: 4px;
	height: 40px;
	font-size: 14px;
	padding-left:9.6px;
	padding-right:9.6px;
	line-height:40px;
}
.mob-ref i {
	float: right;
	line-height: 40px;
}
/*.mob-side-menu {
	float: left;
	width: 100%;
	display:none;
}*/
.mob-refine.responsiveProductListPage_topPagination{
	position:relative;
}
.mob-side-menu {
	float: left;
	width: 100%;
	display: none;
	position: absolute;
	left: 0;
	background: #eee;
	z-index: 1;
	top: 340px;
	right:0;
}
.mob-side-menu button::after {
	content: '';
	position: absolute;
	/* top: 0; */
	bottom: 0;
	border-bottom: 1px solid #000;
	background: #fff;
	width: 900px;
	height: 1px;
	right: 0;
	left: 0;
}
.mob-side-menu button h3 {
	font-size: 16px;
	font-weight: 400;
	font-family: "Work Sans",sans-serif;
	color: #333;
	float: left;
	width: 96%;
	text-align: left;
}
.mob-side-menu button i{
	float:left;
	width:4%;
}
@media(max-width:480px) {
	.mob-side-menu {
		top: 380px;
	}
}
@media(max-width:899px)
{
	.brand-wrap,.skin-wrap,.price-wrap,.save-wrap,.s-tool-wrap,.s-con-wrap,.make-p-wrap,.make-t-wrap,.make-c-wrap,.body-p-wrap,.body-t-wrap{
	   display:none;
	}
}