.MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
    .MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
        .MultiCarousel .MultiCarousel-inner .item { float: left;}
        .MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:10px; margin:10px; background:#f1f1f1; color:#666;}
    .MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
    .MultiCarousel .leftLst { left:0; }
    .MultiCarousel .rightLst { right:0; }
    
        .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }




		.MultiCarousel .MultiCarousel-inner .item > div img{
			width:100%;
			height:auto;
		}
		.cst-p.MultiCarousel .MultiCarousel-inner .item > div
		{
			position:relative;
		}
		.cst-p.MultiCarousel .MultiCarousel-inner .item > div p{
			font-family:"Work Sans",sans-serif;
			font-size:24px;
			font-weight:600;
			line-height:1.4;
			color:#333;
			padding-top:10px;
			position:absolute;
			bottom:0;
		}
		.MultiCarousel .MultiCarousel-inner .item > div p span.was{
			font-family:"Work Sans",sans-serif;
			font-size:24px;
			font-weight:400;
			line-height:1.4;
			color:#333;
			padding-top:10px;
			text-decoration:line-through;
		}
		.MultiCarousel .MultiCarousel-inner .item > div p span.now{
			font-family:"Work Sans",sans-serif;
			font-size:24px;
			font-weight:600;
			line-height:1.4;
			color:#333;
			padding-top:10px;
		}
		button.btn.btn-primary.leftLst,button.btn.btn-primary.rightLst,button.btn.btn-primary.rightLst:hover,button.btn.btn-primary.leftLst:hover{
			border: 1px solid #c4c4c4;
			background: #fff;
			width: 50px;
			height: 50px;
			color:#000;
			font-weight:600;
			border-radius:0;
		}
		.MultiCarousel.product-cro .MultiCarousel-inner .item > div{
			text-align:left;
		}
		/*.MultiCarousel.product-cro .leftLst {
			left: 26px;
		}*/